* {
    margin: 0;
    padding: 0;
}

#page {
    position: relative;
    top: 0px;
}

body {
    font-family: 'Open Sans', Arial, Helvettica, Sans-Serif;
}

#main {
    background-color: #ffffff;
    padding: 50px;
    height: auto;
    position: center;
    margin-left: auto;
    margin-right: auto;
}

#ContentPlaceHolder1 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.header1 {
    color: #002b54;
    height: 60px;
    background-color: #ffffff;
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16pt;
    text-align: center;
    margin-bottom: 30px;
}

#header-wrapper {
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.header2 {
    position: relative;
    height: 250px;
    background-image: url('Images/city-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 24pt;
    text-align: center;
}

    /*media all*/
    .header2:after {
        background: url('Images/ampersand-green.png') center center no-repeat;
        background-size: contain;
        bottom: 0px;
        content: " ";
        height: 10rem;
        opacity: 0.5;
        position: absolute;
        right: 0px;
        width: 10rem;
    }

.header3 {
    color: #002b54;
    padding: 14px 0px 0px 10px;
    font-size: 15pt;
    font-weight: bold;
}

.header4 {
    text-align: center;
    padding: 3%;
}

.header5 {
    text-align: center;
    height: 30px;
    background-color: #002b54;
    vertical-align: middle;
    padding-left: 80%;
    padding-top: 10px;
}

.header6 {
    background-color: #a4d266;
    text-align: center;
    height: 52px;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    color: White;
    background-color: #002b54;
    text-align: right;
    position: relative;
    height: 40px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: 'Open Sans', Arial, Helvettica, Sans-Serif;
    font-size: 9pt;
}

a {
    color: #002b54;
}

    a:hover {
        color: #000000;
    }

    a.header1a {
        font-family: 'Open Sans', Arial, Helvettica, Sans-Serif;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        color: White;
        padding: 0px 10px 0px 10px;
    }

        a.header1a:hover {
            text-decoration: none;
            color: #b1b1b1;
        }

    a.header5a {
        font-family: 'Open Sans', Arial, Helvettica, Sans-Serif;
        font-size: 11px;
        text-decoration: none;
        color: White;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0px 10px 0px 10px;
    }

        a.header5a:hover {
            text-decoration: underline;
            color: #9bbe3a;
            margin-top: auto;
            margin-bottom: auto;
            padding: 0px 10px 0px 10px;
        }

#footer a {
    color: White;
    text-decoration: none;
    font-weight: normal;
}

    #footer a:hover {
        text-decoration: underline;
        color: #00adef;
    }

.CCtype {
    color: #294785;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
}

.CCtypeCharge {
    font-size: 16px;
}

.ErrorText {
    color: Red;
    font-weight: bold;
    font-family: 'Open Sans', Arial, Helvettica, Sans-Serif;
    font-size: 9pt;
}

.RCMDLogoBox {
    background: rgba(255,255,255,.8);
    padding: 10px 40px 80px 40px;
}

.divInstructBox {
    background-color: #a4d266;
    padding: 40px;
    color: #2f2f2f;
    font-weight: bold;
    font-family: 'Open Sans', Arial, Helvettica, Sans-Serif;
    font-size: 14pt;
}

#TextButtons a {
    color: #9bbe3a;
}

    #TextButtons a:hover {
        color: #000000;
    }

.MainSelections {
    font-size: 14px;
    font-weight: bold;
    color: #002b54;
}

.TestMode {
    font-size: 20pt;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #002b54;
}

#PlanDocs a {
    font-size: 16px;
    font-weight: bold;
    color: #002b54;
    text-decoration: none;
}

    #PlanDocs a:hover {
        color: #9bbe3a;
        text-decoration: underline;
    }

.PlanDocs2 a {
    font-size: 18px;
    font-weight: bold;
    color: #9bbe3a;
    text-decoration: none;
}

    .PlanDocs2 a:hover {
        color: #9bbe3a;
        text-decoration: underline;
    }

.SectionHead {
    color: #002b54;
    font-size: 14px;
    font-weight: bold;
}

.divTable th {
    background-color: #002b54;
    color: white;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
}

.divTable td {
    padding: 0px 6px 0px 6px;
    text-align: left;
}

.IDcardSpecial {
    font-size: 16px;
    font-weight: bold;
    color: #9bbe3a;
    text-decoration: underline
}

#IDcardLink a {
    font-size: 16px;
    font-weight: bold;
    color: #9bbe3a;
    text-decoration: none
}

    #IDcardLink a:hover {
        color: #9bbe3a;
        text-decoration: underline;
    }

.PrintInstructions {
    font-size: 16px;
    font-weight: bold;
    color: #002b54;
}

.MainHead {
    font-size: 20px;
    font-weight: bold;
    color: #002b54;
}

.Note {
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
    color: #9bbe3a;
}

/** CONTAINER */
.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.clearfix {
    clear: both;
}

/** HEADER */


#header-wrapper {
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

#info-wrapper {
    /*background: url('Images/dots.png');*/
    background-color: #eaeaea;
    /*background-repeat:repeat;*/
    text-align: center;
    font-family: 'Open Sans', Arial, Helvettica, Sans-Serif;
    font-size: 10pt;
    font-weight: bold;
    margin-left: auto;
    margin-left: auto;
}

#pdf {
    width: 600px;
    /*float: right;*/
    /*padding: 50px 20px 0px 0px;*/
}

    #pdf p {
        float: left;
    }

    #pdf img {
        float: right;
    }

    #pdf a {
        color: maroon;
    }

#footer-wrapper {
    background-color: #002b54;
    color: #ffffff;
}

/*media all*/
.primary.button:focus, .primary.button:hover, button.primary:focus, button.primary:hover {
    /*background-color: #8dc63f;*/
    background: #8dc63f url('Images/arrow-buttonA.svg') center right no-repeat;
    color: #2f2f2f;
    padding: 15px 50px 15px 15px;
}

/*media all*/
.primary.button, button.primary {
    /*background-color: #a4d266;*/
    background: #a4d266 url('Images/arrow-buttonB.svg') center right no-repeat;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    font-size: 11pt;
    color: #2f2f2f;
    padding: 15px 50px 15px 15px;
}

/*media all*/
.secondary.button:focus, .secondary.button:hover, button.secondary:focus, button.secondary:hover {
    /*background-color: #8dc63f;*/
    background: #8dc63f url('Images/arrow-buttonA.svg') center center no-repeat;
    color: #2f2f2f;
    padding: 15px 50px 15px 15px;
}

/*media all*/
.secondary.button, button.secondary {
    /*background-color: #a4d266;*/
    background: #a4d266 url('Images/arrow-buttonB.svg') center center no-repeat;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    font-size: 11pt;
    color: #2f2f2f;
    padding: 15px 50px 15px 15px;
}

/*media all*/
.tertiary.button:focus, .tertiary.button:hover, button.tertiary:focus, button.tertiary:hover {
    /*background-color: #8dc63f;*/
    background: #8dc63f;
    color: #2f2f2f;
    padding: 15px;
}

/*media all*/
.tertiary.button, button.tertiary {
    /*background-color: #a4d266;*/
    background: #a4d266;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    font-size: 11pt;
    color: #2f2f2f;
    padding: 15px;
}

.bluearrow.Image {
    padding-left: 20px;
    height: 15px;
}

.quaternary1.button:focus, .quaternary1.button:hover, button.quaternary1:focus, button.quaternary1:hover {
    background-color: #8dc63f;
    color: #2f2f2f;
}

.quaternary2.button, button.quaternary2 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-position: right 15px center;
    text-decoration: none;
    text-align: left;
    font-weight: normal;
    font-size: 11pt;
    color: #2f2f2f;
    padding: 15px 40px 15px 15px;
    background-color: #a4d266;
    background-image: url('Images/arrow-blue.png');
    background-size: 9%;
    background-repeat: no-repeat;
    width: 120px;
}

    .quaternary2.button:focus, .quaternary2.button:hover, button.quaternary2:focus, button.quaternary2:hover {
        background-color: #8dc63f;
        color: #2f2f2f;
    }

.quintary1.button, button.quintary1 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-position: right 15px center;
    text-decoration: none;
    text-align: left;
    font-weight: normal;
    font-size: 11pt;
    color: #2f2f2f;
    padding: 15px 40px 15px 15px;
    background-color: #a4d266;
    background-image: url('Images/arrow-blue.png');
    background-size: 9%;
    background-repeat: no-repeat;
    width: 380px;
}

    .quintary1.button:focus, .quintary1.button:hover, button.quintary1:focus, button.quintary1:hover {
        background-color: #8dc63f;
        color: #2f2f2f;
    }

.quintary2.button, button.quintary2 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-position: right 15px center;
    text-decoration: none;
    text-align: left;
    font-weight: normal;
    font-size: 11pt;
    color: #2f2f2f;
    padding: 15px 40px 15px 15px;
    background-color: #a4d266;
    background-image: url('Images/arrow-blue.png');
    background-size: 9%;
    background-repeat: no-repeat;
    width: 220px;
}

    .quintary2.button:focus, .quintary2.button:hover, button.quintary2:focus, button.quintary2:hover {
        background-color: #8dc63f;
        color: #2f2f2f;
    }

/*media all*/
.sextary.button:focus, .sextary.button:hover, button.sextary:focus, button.sextary:hover {
    background-color: #005cb3;
    color: #ffffff;
}

/*media all*/
.sextary.button, button.sextary {
    background-color: #002b54;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 11pt;
    color: #ffffff;
    padding: 15px;
}

/*media all*/
.septary.button:focus, .septary.button:hover, button.septary:focus, button.septary:hover {
    background-color: #8dc63f;
    color: #2f2f2f;
}

/*media all*/
.septary.button, button.septary {
    background-color: #a4d266;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    font-size: 11pt;
    color: #2f2f2f;
    padding: 15px;
    .bluearrow.Image

{
    padding-left: 20px;
    height: 15px;
}

.accordion:after, .clearfix:after, .row .row.collapse:after, .row .row:after, .row:after, [class*=block-grid-]:after {
    clear: both;
}

.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    color: #002b54;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    margin-top: .2rem;
    margin-bottom: .5rem;
}

h4 {
    color: #8dc63f;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    margin-top: .2rem;
    margin-bottom: .5rem;
}

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    white-space: nowrap;
}

    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    .icon > .label {
        display: none;
    }

    .icon.suffix:before {
        float: right;
    }

#btn-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    margin: 5px;
    padding: 15px;
    width: 300px;
    display: inline-block;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    font-size: 18px;
    background: #8dc63f;
    color: #FFFFFF;
    border: 2px solid #8dc63f;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

    .btn:hover {
        background: #c5e29d;
        color: #005cb3;
    }

    .btn:active {
        background: #006680;
        color: #FFFFFF;
    }

#btn_0 {
    width: 660px;
    padding: 25px;
}

#btn_1 {
    width: 660px;
    padding: 25px;
}

#btn_2 {
    width: 660px;
    padding: 25px;
}

#btn_3 {
    width: 660px;
    padding: 25px;
}

#btn_4 {
    width: 660px;
    padding: 25px;
}

#btn_5 {
    width: 660px;
    padding: 25px;
}

#info-wrapper {
    overflow: hidden;
    background: #FFFFFF;
    padding: 10px 0px 10px 0px;
}

#pdf {
    width: 600px;
    /*float: right;*/
    /*padding: 50px 20px 0px 0px;*/
}

    #pdf p {
        float: left;
    }

    #pdf img {
        float: right;
    }

    #pdf a {
        color: maroon;
    }
